body{
    max-width: 1200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

div{
    width: 200px;
    margin: 0 10px;
    height: 170px;
    display: inline-block;
    float: left;
}
div img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h2{
    font-size: 30px;
    overflow: hidden;
}

.block{
    width: 100%;
}